.name {
    font-size: 112.5%;
    font-family: Inter, sans-serif;
    font-weight: 600;
    letter-spacing: -0.02em;
    align-self: end;
    text-align: start;
}

.clickable:hover {
    text-decoration: underline;
}